<%= render 'navbar' %>

<br>
<br>
<br>
<h1><%= @flat.name %></h1>

<h3><%= @flat.address %></h3>

<p><%= @flat.description %></p>


<div>
  <h4>Details</h4>
    <p><i class="fas fa-users"></i><%= @flat.number_of_guests %></p>
    <p><i class="fas fa-euro-sign"></i><%= @flat.price_per_night %></p>
</div>
